[package]
name = "DragonReach"
version = "0.1.0"
edition = "2021"

[[bin]]
name = "DragonReach"
path = "src/main.rs"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
hashbrown = "0.11"
cfg-if = { version = "1.0"}

[target.'cfg(target_os = "dragonos")'.dependencies]
#drstd = {git = "https://git.mirrors.dragonos.org/DragonOS-Community/drstd.git", revision = "a4d693c682"}
drstd = {path = "/home/heyicong/dragonos-rs-std"}
lazy_static = { version = "1.4.0", default-features = false, features = ["spin_no_std"] }

[target.'cfg(not(target_os = "dragonos"))'.dependencies]
lazy_static = {version = "1.4.0"}

[profile.release]
panic = 'abort'

[profile.dev]
panic = 'abort'