[Unit]
Description=My Service
Documentation=https://example.com/docs/my-service.html
#After=network.target

[Service]
Type=simple
ExecStart=/home/heyicong/DragonOs/bin/sysroot/bin/DragonReach --option1=value1 --option2=value2
WorkingDirectory=/home/heyicong/
User=myuser
Group=mygroup
Environment=VAR1=value1
Environment=VAR2=value2
Restart=on-failure
RestartSec=5s
TimeoutStartSec=10s
TimeoutStopSec=10s

[Install]
#WantedBy=multi-user.target
